body {
	font-family: Arial;
	color: #211a1a;
	font-size: 0.9em;
}

.map
{
	height: 120000000%;
	width: 150%;
}

#shopping-cart {
	margin: 40px;
}

#grilla-productos {
	margin: 40px;
}

#shopping-cart table {
	width: 100%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	background-color: #FFFFFF;
}

.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
}

#botonVaciar {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

.botonAgregarAccion {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}

.item-producto {
	float: left;
	background: #ffffff;
	margin: 30px 30px 0px 0px;
	border: #E0E0E0 1px solid;
}

.product-image {
	height: 155px;
	width: 250px;
	background-color: #FFF;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.tabla-carrito {
	font-size: 0.9em;
}

.tabla-carrito th {
	font-weight: normal;
}

.product-title {
	margin-bottom: 20px;
}

.product-price {
	margin-right:20px;
	float:left;
}

.cart-action {
	float: right;
}

.cantidad-producto {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}

.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-hay-nada {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}

.search-container {
	float: right;
  }
  
.searchInput[type=text] {
	padding: 0px;
	margin-top: 12px;
	font-size: 17px;
	border: none;
  }
  
.search-container button {
	float: right;
	padding: 0px;
	margin-top: 12px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
  }
  
.search-container button:hover {
	background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
.search-container {
	  float: none;
	}
	.search-container a, .search-container input[type=text],  .search-container button {
	  float: none;
	  display: block;
	  text-align: left;
	  width: 100%;
	  margin: 0;
	  padding: 0px;
	}
	.search-container input[type=text] {
	  border: 1px solid #ccc;  
	  padding: 0px;
	  margin-top: 12px;
	}
  }

  .nav-item
  {
	padding: 0px;
  }

  #carousel-img
  {
	width: auto;
	height: 700px;
	padding-left: 50px;
	padding-right: 50px;
	position: center;
  }

  #index
  {
	padding-bottom: 40px;
  }